.botao-efeito {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 20;
  }
  
  .botao-efeito:hover {
    background-color: #ffcc00; 
    color: #000;
    transform: scale(1.05); 
  }
  
  .botao-efeito:active {
    transform: scale(0.95); 
  }

  .bg-gradient-overlay-top {
    position: absolute;
    width: 100%;
    height: 150px; 
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.9) 90%);
    z-index: 10;
  }
  
.bg-gradient-overlay-bottom {
    position: absolute;
    width: 100%;
    height: 200px; 
    bottom: 0; 
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 90%);
    z-index: 10;
}

.ajuste{
  z-index: 10;
}