.botao-efeito {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 10;
  }
  
  .botao-efeito:hover {
    background-color: #ffcc00; 
    color: #000;
    transform: scale(1.05);
    opacity: 100; 
  }
  
  .botao-efeito:active {
    transform: scale(0.95); 
  }

  .card-effect:hover{
    opacity: 100; 
    transform: scale(1.05);
  }

  .efeito-image{
    border-radius: 100%;

  }

  .efeito-image:hover{
    border-radius: 0px;
    transform: scale(1.10);

  }