.bg-gradient-overlay-top {
    position: absolute;
    width: 100%;
    height: 200px; 
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.9) 90%);
    z-index: 10;
  }
  
  .bg-gradient-overlay-bottom {
    position: absolute;
    width: 100%;
    height: 200px; 
    bottom: 0; 
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 90%);
    z-index: 10;
  }
  
  
  img {
    max-width: 100%;
   
  }
  
  .cloud {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    animation: rotationLeft 80s linear infinite;
    z-index: 1;
    overflow: hidden; 
  }
  
  @keyframes rotationLeft {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
  
  .img_cloud {
    margin-top: 4rem;
    opacity: 0.5;
    width: 100%;
    height: auto;
  }
  