.bg-gradient-overlay-top2 {
    position: absolute;
    width: 100%;
    height: 200px; 
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 90%);
    z-index: 10;
  }
  
.bg-gradient-overlay-bottom {
    position: absolute;
    width: 100%;
    height: 200px; 
    bottom: 0; 
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 90%);
    z-index: 10;
}

.mirrored {
    transform: scaleX(-1);
  }
