.box-com-shadow-externa {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box-com-shadow-interna2 {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
}

.btt:hover{
    cursor: pointer;

}