.arredondado{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.arredondado2{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.botao-efeito {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 20;
  }
  
  .botao-efeito:hover {
    background-color: #ffcc00;
    color: #000;
    transform: scale(1.05); 
  }
  
  .botao-efeito:active {
    transform: scale(0.95); 
  }